* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("https://images.pexels.com/photos/1666021/pexels-photo-1666021.jpeg");
    background-size: cover;
    background-position: center;
}

footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

footer p {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}



.caixa-maior {
    background-color: #000000;
    width: 95%;
    max-width: 420px;
    opacity: 0.8;
    padding: 20px;
    border-radius: 25px;
    margin: 10px;
    box-sizing: border-box;
}

input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 24px;
    font-size: 16px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc(100% - 100px);
    box-sizing: border-box;
}

button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;
}

button:hover {
    background-color: #7c7c7c6b;
}

.caixa-media {
    margin-top: 20px;
    text-align: center;
}

.caixa-menor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.lupa {
    height: 20px;
}

h2 {
    color: #ffffffff;
    font-size: 24px;
}

.temp {
    color: #ffffffff;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
}

.descricao {
    color: #ffffffff;
    text-transform: capitalize;
    margin-left: 6px;
    font-size: 18px;
}

.umidade {
    color: #ffffffff;
    margin-top: 20px;
}

.icone {
    width: 50px;
    height: auto;
}

